@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*Colors*/
    --light_red: #ff5757;
    --light_red_25: #ff575725;
    
    --orangey_yellow: #ffb01f;
    --orangey_yellow_25: #ffb01f25;

    --green_teal: #00bd91;
    --green_teal_25: #00bd9125;

    --cobalt_blue: #1125d4; 
    --cobalt_blue_25: #1125d425; 

    --dark_gray_blue: #303b5a;

    --gray: #808080bb;
    --light: #c8c7ff;
    --white: #ffffff;
    --white_ground: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

html::-webkit-scrollbar { 
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    background-color: var(--white_ground);
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 660px;
    height: 480px;

    border-radius: 25px;
    box-shadow: 5px 5px 20px #00000010;
}

/*Left*/
.status-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;
    padding: 2em;

    width: 50%;
    height: 100%;

    border-radius: 25px;

    background-image: linear-gradient(to bottom, #7857ff, #2e2be9);
}

.status-title {
    color: var(--light);
}

.status-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 210px;

    border-radius: 50%;

    background-image: linear-gradient(to bottom, #4e21ca, #2421ca00);
}

.status-score-point {
    color: var(--white);
    font-size: 4em;
    font-weight: 800;
}

.status-score-of {
    color: var(--light);
    font-size: 1.1em;
    font-weight: 700;
}

.status-classification {
    color: var(--white);
}

.status-message {
    color: var(--light);
    text-align: center;
    padding: 0em 1.4em;
}

/*Right*/
.summary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    box-sizing: border-box;
    width: 50%;
    height: 100%;

    padding: 2em;
}

.summary-title {
    color: var(--dark_gray_blue);
}

.summary-properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
}

.property {
    display: flex;
    justify-content: space-between;

    padding: 1em;
    margin: 0.4em 0em;

    font-weight: 600;

    border-radius: 0.8em;
}

.property-content {
    display: flex;
    align-items: center;
}

.property-name {
    margin-left: 0.5em;
}

.property-score-point {
    color: var(--dark_gray_blue);
    font-weight: 800;
}

.summary-score-of {
    color: var(--gray);
    font-weight: 700;
}

.summary-reaction {
    color: var(--light_red);
    background-color: var(--light_red_25);
}

/* Memory */ 
.summary-memory {
    color: var(--orangey_yellow);
    background-color: var(--orangey_yellow_25);
}

/* Verbal */ 
.summary-verbal {
    color: var(--green_teal);
    background-color: var(--green_teal_25);
}

/* Visual */ 
.summary-visual {
    color: var(--cobalt_blue);
    background-color: var(--cobalt_blue_25);
}

#continue-button {
    padding: 1em;

    border-radius: 1.8em;
    border: none;

    cursor: pointer;

    font-weight: 600;
    font-size: 1em;
    color: var(--white);
    background-color: var(--dark_gray_blue);
}


